# Server Configuration
PORT=3001

# Database Configuration
DB_USER=postgres
DB_HOST=localhost
DB_NAME=housemeter
DB_PASSWORD=your_password_here
DB_PORT=5432

# Application Password (set this to secure your app)
APP_PASSWORD=your_secure_password_here