.tabelrow:hover {
  color: var(--primary-color-dark);
  background-color: var(--primary-color-white);
}

.tabelrow {
  margin: 0.6em;
  padding: 20px;
  display: table;
  table-layout: fixed;
  width: 97%;
  border-collapse: collapse;
  border-radius: 8px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.123);
  background-color: var(--primary-color-dark);
}

.valueTable {
  padding: 10px;
}
.deletebutton {
  margin-left: 1rem;
  padding: 5px;
  border-radius: 15px;
  color: red;
  background-color: transparent;
  border: transparent;
}

button:hover {
  color: #232740;
}
