.wrappingContainer {
  background: transparent;
  width: 110%;
  margin: 50px;
}

.valueTable {
  padding: 8px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.123);
  border-top: 2px solid #725ef2;
  background-color: #232740;
  border-radius: 5px;
}

.valueTable:hover {
  background-color: #8777f2;
}

.meterTypeSelect {
  position: fixed;
  background: #8777f2;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.123);
  font-family: sans-serif;
  border-radius: 8px;
  color: rgb(17, 16, 16);
  margin: 20px 10px 10px 50px;
}
