.wrappingContainer {
  margin: 50px 20px 20px 20px;
  border: 5px;
  padding: 30px;
}

.meterTypeSelect {
  margin: 0px 0px 0px 15px;
  padding: 5px;
  border: 20px;
  background: var(--blue);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.123);
  font-family: sans-serif;
  border-radius: 8px;
  color: rgb(17, 16, 16);
}

.header {
  display: flex;
  padding: 1rem;
  margin: 0px 0px 0px 20px;
  border: 1rem;
  flex-direction: row;
  justify-content: space-between;
  width: 89%;
}

.tabletype {
  padding-left: 5rem;
}

.tablemeasurement {
  padding-right: 7.9rem;
}
