.inputForm {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);

  background-color: #232740;
  margin: 50px 60px 10px 60px;
  border-radius: 10px;
  padding: 50px;
}

.measurementsInput {
  border: 8px;
  background-color: #44428c;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.123);
  font-family: sans-serif;
  border-radius: 5px;
  color: rgb(17, 16, 16);
  border: solid grey 1px;
}

.meterTypeSelect {
  padding: 5px;
  background-color: #44428c;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.123);
  font-family: sans-serif;
  border-radius: 8px;
  color: rgb(17, 16, 16);
  border: solid grey 1px;
}

.submitButton {
  padding: 8px;
  width: 100px;
  background-color: #8777f2;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.123);
  color: rgb(255, 255, 255);
  border: solid grey 1px;
  border-radius: 8px;
}

.inputDate {
  background-color: #44428c;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.123);
  color: black;
  border: 1px rgba(0, 0, 0, 0.37) solid;
  border-radius: 8px;
  font-family: sans-serif;
}
