.App {
  text-align: left;
  font-family: sans-serif;
  width: 70%;
  @media (min-width: 600px) {
    width: 50%;
  }
  @media (min-width: 600px) {
    width: 50%;
  }
}

.AppHeader {
  padding: 2rem;
  letter-spacing: 2rem;
}

.AppName {
  margin: 0.3rem;
  padding: 0.3rem;
  text-align: center;
  font-size: calc(2rem + 2vmin);
  color: var(--primary-color-dark);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: 0.4rem 0.1rem 0.1rem rgba(0, 0, 0, 0.123);
}

@media screen and (min-width: 200px) {
  .container {
    width: 100%;
  }
}

.logoutbutton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  background-color: var(--primary-color-dark);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.123);
  color: var(--primary-color-white);
  border: solid #151826 1px;
  border-radius: 2rem;
  font-size: 1rem;
}
