:root {
  --primary-color-dark: #5b5d79;
  --primary-color-white: #f2f2f2;
  --blue: #719dd5;
  --purple: #91A0FF;

}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #151826; */
  color: var(--primary-color-white);
  line-height: 1.6;
  background-color: var(--primary-color-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}
