.headlineContainer {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  padding: 1px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: whitesmoke;
  background-color: rgba(0, 128, 128, 0.418);
}

.LoginH1 {
  font-size: 80px;
  font-weight: lighter;
  letter-spacing: 10px;
}

.logo {
  margin: -50px;
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 40px;
}

.wrappingTextAndButton {
  background-color: rgba(36, 80, 94, 0.801);
  margin: 8px 120px 50px 120px;
  padding: 70px;
  border-radius: 10px;
  box-shadow: 10px 8px 8px rgba(0, 0, 0, 0.342);
}

.LoginButton {
  width: 72%;
  object-position: center;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid whitesmoke;
  background-color: rgba(98, 41, 114, 0.753);
  color: whitesmoke;
  box-shadow: 10px 8px 8px rgba(0, 0, 0, 0.342);
}
